
<!DOCTYPE html>
<html>
   <head>
              <title>Inserindo e manipulando imagens em uma página HTML</title>
   </head>
   <body>
		<center><%=image_tag("teste/anaa.jpeg")%></center>
		<li><a></a></li>
		<li><a></a></li>
		<div class="container">
	    	<hr>
	    	<header class="jumbotron">
				<center><h3>Ana Carolina de Carvalho </h3></center>
				<center><h4>Estudante de Engenharia de Software da Universidade de Brasília</h4></center>
			</header>

		</div>

		<li><a></a></li>
		<li><a></a></li>

		<center><%= image_tag("teste/eue.jpeg")%></center>
			<li><a></a></li>
			<li><a></a></li>

		<div class="container">
			<hr>
		    <header class="jumbotron">
		    	<center><h3>Guilherme Guimarães Lacerda</h3></center>
				<center><h4>Estudante de Engenharia de Software da Universidade de Brasília</h4></center>
		    </header>
		</div>
		
		<li><a></a></li>
		<li><a></a></li>
		
		<footer>
    		<div class="row">
    			<div class="col-lg-12">
        			<hr>
            		<center><p>Copyright &copy; Não Jubila! 2016</p></center>
      		  	</div>
   			 </div>
		</footer>
   </body>

</html>



