<%= simple_form_for(@post) do |f| %>
	<% f.error_notification %>

	<div class="form-inputs">

		<%= f.input :title %>
		<p> </p>
			<%= f.input :content%>
	</div>

	<div class="form-actions">
		<hr>
		<%= f.button :submit, class: "btn btn-primary" %>
	</div>
<% end %>