<p id="notice"><%= notice %></p>


    <div class="container">

            <h2>Postagens</h2>
            <hr>
        <!-- Jumbotron Header -->
        <header class="jumbotron">
            <% @posts.each do |post| %>
                <h2><%= link_to post.title, post %></h2>
                <h6>
                    Published at
                    <%= time_ago_in_words(post.created_at) %>
                    by
                    <%= post.user.email %>
                </h6>
                <hr>
            <% end %>
        </header>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <p>Copyright &copy; Não Jubila! 2016</p>
                </div>
            </div>
        </footer>
    </div>

