<div class="container">

        <h2>Nova Postagem</h2>
        <hr>
    <!-- Jumbotron Header -->
    <header class="jumbotron">
		 <%= render 'form' %>
    </header>


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <hr>
                <p>Copyright &copy; Não Jubila! 2016</p>
            </div>
        </div>
    </footer>
</div>