<div class="container">
        
	<h1><%= @post.title %></h1>
    <hr>
    <header class="jumbotron">

		<p><%= @post.content %></p>
		<hr>

        <%if user_signed_in? && (current_user.id == @post.user_id)%>
			<%= link_to "Editar", edit_post_path(@post), class: "btn btn-primary" %>
			<%= link_to "Deletar", post_path(@post), class: "btn btn-primary", method: :delete, data: {confirm: "Tem certeza que vai deixar um amigo ser jubilado?"} %>
			<%= link_to "Voltar", posts_path, class: "btn btn-primary" %>
		<% else %>
			<%= link_to "Voltar", posts_path, class: "btn btn-primary" %>
		<% end %>
    </header>


        <footer>
            <div class="row">
                <div class="col-lg-12">
                <hr>
                    <p>Copyright &copy; Não Jubila! 2016</p>
                </div>
            </div>
        </footer>


</div>


